<div class="container my-2 py-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form [formGroup]="registerForm">
            <div class="form-group">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('name')?.invalid &&
                    registerForm.get('name')?.touched,
                }"
              />
              <div
                *ngIf="
                  registerForm.get('name')?.invalid &&
                  registerForm.get('name')?.touched
                "
                class="text-danger"
              >
                <p *ngIf="registerForm.get('name')?.errors?.['required']">
                  Name is required
                </p>
                <p *ngIf="registerForm.get('name')?.errors?.['minlength']">
                  Name must be at least 3 characters long
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
              <div
                *ngIf="
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched
                "
                class="text-danger"
              >
                <p *ngIf="registerForm.get('email')?.errors?.['required']">
                  Email is required
                </p>
                <p *ngIf="registerForm.get('email')?.errors?.['email']">
                  Email is invalid
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <div
                *ngIf="
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched
                "
                class="text-danger"
              >
                <p *ngIf="registerForm.get('password')?.errors?.['required']">
                  Password is required
                </p>
                <p *ngIf="registerForm.get('password')?.errors?.['pattern']">
                  Password must be at least 6 characters long
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="rePassword" class="form-label">rePassword</label>
              <input
                type="password"
                class="form-control"
                id="rePassword"
                formControlName="rePassword"
              />
              <div
                *ngIf="
                  registerForm.get('rePassword')?.invalid &&
                  registerForm.get('rePassword')?.touched
                "
                class="text-danger"
              >
                <p *ngIf="registerForm.get('rePassword')?.errors?.['required']">
                  Password is required
                </p>
                <p *ngIf="registerForm.get('rePassword')?.errors?.['pattern']">
                  Password must match the password
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                formControlName="phone"
              />
              <div
                *ngIf="
                  registerForm.get('phone')?.invalid &&
                  registerForm.get('phone')?.touched
                "
                class="text-danger"
              >
                <p *ngIf="registerForm.get('phone')?.errors?.['required']">
                  Phone is required
                </p>
                <p *ngIf="registerForm.get('phone')?.errors?.['pattern']">
                  Phone must be 11 digits long
                </p>
              </div>
            </div>
            <div class="d-flex justify-content-end gap-2 mt-3">
              <button
                type="submit"
                class="btn bg-main text-white"
                [disabled]="registerForm.invalid"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
